html, body{
	height:100%;
	
}
body{
	background:url(/images/bg.jpg);
	overflow:hidden;
	}
body div div canvas {
    display: none !important;
}
.header{padding:40px;}

.hide-scroll{    overflow-y: hidden;}
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

.header .left-menu span.toggle-link {font-size: 14px;color: #272b2d; float: left;/*width: 100%; padding: 10px 0; */}
.header .left-menu span.toggle-link span{margin:0 0 0 -10px; font-family: 'Roboto', sans-serif; font-weight:400;}
.overlay-content {margin: 0;top: 0;background: #e9edef;max-width: 300px;width: 100%;height: 100%; box-shadow: 0 0 2px 2px #5f5f5f;
padding: 10% 2.5%;text-align: left; display:flex; display: flex;     flex-wrap: wrap; height:100%}
.inner-sec-overlay{margin:auto;}
.overlay-content .inner-sec-overlay a {float: left;width: 100%;padding: 0 0 25px;margin: 0 0 30px;
border-bottom: 1px solid #bfc9d1;}
.overlay-content .inner-sec-overlay a span {font-size: 14px;float: left;width: 100%;text-transform: uppercase;	color: #272b2d;
 font-family: 'Roboto', sans-serif; font-weight:300;}
.overlay-content .inner-sec-overlay a span.sub-link{ font-weight:700;  text-transform:initial; font-size:24px;} 
.close-pos {position: fixed;}
.overlay-content .inner-sec-overlay a:hover span.sub-link{color:#2982a6;}

.bottom-overlay {position: absolute;width: 100%;bottom: 40px;}
.bottom-overlay ul {padding: 0;margin: 0;}
.left-menu .overlay-content .bottom-overlay ul li a {border: none !important; display: block !important;padding: 0 !important;
 margin: 0 10px 0 0;}

.bottom-overlay a.menu-linked {display: none;}
.left-menu .overlay-content.close-pos a.menu-linked {display: none;}
.bottom-overlay ul li {display: inline-block;vertical-align:middle;     line-height: 0.5em;}
.bottom-overlay ul li p{margin:0; text-transform:uppercase; font-size:14px; font-family: 'Roboto', sans-serif; font-weight:300;}
.left-menu span.toggle-link span:hover{cursor:pointer;}
.left-menu span.toggle-link {margin: 0 0 0 0px;}
#myNav.overlay {background: rgba(25,57,88, 0.5); z-index: 2;}
#myNav.overlay .closebtn {left:40px;color: #000;font-weight: normal;	max-width: 300px;padding: 0 0 0 0px;/*background: #e9edef;*/
 top: 5px;  z-index: 1;}
#myNav.overlay .closebtn img{max-width:38px;}
#myNav.overlay .closebtn:hover{text-decoration:none;} 

.button-sec a {display: none;}
.button-sec a.get-touch {background: #2982a6;color: #fff;text-transform: uppercase;font-size: 14px;font-family: 'Roboto', sans-serif; font-weight:400;
 padding: 10px 30px; display: inline-block; border-radius: 40px; }
.button-sec a.get-touch:hover{text-decoration:none; background:#136b8f;} 

/*------------------------ Contact Us CSS Start Here ------------------------*/

.get-contact {float: none;width: 100%;max-width: 1810px;display:block;background: #e9edef;position: absolute;left: 0;right: 0;margin: 0 auto;
	z-index: 9;	top: 0px; height:100%; padding:40px; height:100vh}
.home-header.contact-body {margin: 0 0 30px;}
.get-contact .inner-contact {padding:0px; float: left; width: 100%; height:100%; background:#2982a6}
.for-close-btn{float:right;  text-align:right; margin: 20px 20px 45px;}
.get-contact .inner-contact a.contact-close {display: inline-block;}
.get-contact .inner-contact .contact-us {float: left; width: 100%;}
.get-contact .inner-contact .contact-us div.float-left {padding-left: 90px;}
.get-contact .inner-contact .contact-us h2 {color: #fff;font-size: 32px;margin: 0 0 60px;font-weight: 700;}
.get-contact .inner-contact .contact-us form {float: left;width: 100%;margin: 0;}
.get-contact .inner-contact .contact-us form input,
.get-contact .inner-contact .contact-us form textarea{float: left;width: 100%;font-weight: 300;color: #fff;background: transparent;border-left: none;
border-top: none;border-right: none;border-bottom: 1px solid #fff;padding: 0 0 15px;margin: 0 0 25px;font-size: 18px;}
.get-contact .inner-contact .contact-us form textarea {height: 110px; margin-bottom:0px;}

.get-contact .inner-contact .contact-us form input::-webkit-input-placeholder {color:#fff; opacity:1;}
.get-contact .inner-contact .contact-us form input::-moz-placeholder {color:#fff; opacity:1;}
.get-contact .inner-contact .contact-us form input:-ms-input-placeholder {color:#fff; opacity:1;}
.get-contact .inner-contact .contact-us form input:-moz-placeholder {color:#fff; opacity:1;}

.get-contact .inner-contact .contact-us form textarea::-webkit-input-placeholder {color:#fff; opacity:1;}
.get-contact .inner-contact .contact-us form textarea::-moz-placeholder {color:#fff; opacity:1;}
.get-contact .inner-contact .contact-us form textarea:-ms-input-placeholder {color:#fff; opacity:1;}
.get-contact .inner-contact .contact-us form textarea:-moz-placeholder {color:#fff; opacity:1;}
.get-contact .inner-contact .contact-us form button {float: right;background: #fff;color: #272b2d;text-transform: uppercase;font-size: 14px;
	font-weight: 300;line-height: 20px;padding: 8px 20px;border-radius: 40px;border: 2px solid #fff; cursor: pointer;margin: 20px 0 0;}
.get-contact .inner-contact .contact-us form button:hover{background: transparent; color:#fff; }

.get-contact .inner-contact .contact-us p {font-weight: 300;color: #fff;font-size: 20px;line-height: 36px;}
.get-contact .inner-contact .contact-us p a{color:#9fdff8; border-bottom: 2px solid #9fdff8;}
.get-contact .inner-contact .contact-us p a:hover{color:#fff; border-bottom: 2px solid #fff; text-decoration:none;}

/*------------------------ Contact Us CSS End Here ------------------------*/
/***********************************************
		HOME MID Section
***********************************************/
#Div1{
	position:absolute;
	top:0px;
	z-index:-1;
}

.home-middle-sec {
	height:calc(100% - 110px);
	clear: both;
}
.home-middle-sec p.heading {margin: 0 0 10px;font-size: 32px;color: #272b2d; font-family: 'Roboto', sans-serif;font-weight:300;}
.home-middle-sec h1 {margin: 0;font-family: 'Roboto', sans-serif;font-weight:700;font-size: 76px;position: relative; padding: 0 0 30px; }
.home-middle-sec h1::after {position: absolute;content: "";width: 100px;height: 5px;	background: #2982a6;left: 0;right: 0;margin: 0 auto;bottom: 0;}
.home-middle-sec p.sub-heading {margin: 30px 0 0;font-size: 24px;color: #272b2d;}
.linked-link{
	position: absolute;
    left: 40px;
    bottom: 40px;
    z-index: 9999;
}
.hide-linked{opacity:0; transition: opacity 0.1s ease-in-out}


.ctn {
    padding-right: 5.3vw;
    padding-left: 5.3vw;
}
.header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1003;
    height: 8.7rem;
    font-size: 2.4rem;
    color: #fff;
    transition: height .6s cubic-bezier(.19,1,.22,1),background-color .6s cubic-bezier(.19,1,.22,1);
}
.header__wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    position: relative;
    height: 100%;
}
.header__title .logo {
    display: block;
}
.header__title a, .menu-btn {
    /*text-indent: 101%;*/
    white-space: nowrap;
}
.menu-btn {
    position: fixed;
    top: 1rem;
    right: calc(5.3vw - .5rem);
    z-index: 1000;
    width: 2.5rem;
    height: 2.5rem;
    padding: 0;
    background: #2982a6;
    border: none;
    border-radius: 50%;
    pointer-events: all;
	overflow:hidden;
}
.menu-btn  i {font-size:18px; color:#fff;}





.header {
		position: fixed!important;
		transform: none!important;
	}
	
	.header-nav::before {
		content: '';
		position: fixed;
		    top: calc(2.35rem);
    right: calc(5.3vw + 1rem);
		width: 265vmax;
		height: 265vmax;
		background: #2982a6;
		border-radius: 50%;
		will-change: transform;
		transform: translate3d(50%,-50%,0) scale(.016);
		transition: transform .5s cubic-bezier(.215,.61,.355,1);
		
		
	}
	.header__wrapper {
		-ms-flex-pack: center;
		justify-content: center;
	}
	.header__title {
		position: relative;
		z-index: 1000;
	}
	.header__scrollarea {
		-webkit-overflow-scrolling: touch;
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		padding: 6rem 5.3vw 4rem;
		pointer-events: all;
		transition: transform .6s cubic-bezier(.645,.045,.355,1);
	}
	.nav {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-align: center;
		align-items: center;
		height:100%;
	}
	.nav__list {
		display: flex;
		-ms-flex-align: center;
		align-items: center;
	}
	.nav__list {
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		-ms-flex-pack: space-evenly;
		justify-content: space-evenly;
		max-width: 28rem;
		margin: 0 auto;
	}
	.nav__item {
		position: relative;
	}
	.nav__item {
		-ms-flex: 1 100%;
		flex: 1 100%;
		text-align: center;
		opacity: 0;
		transform: translate3d(0,-25px,0);
	}
	body:not(.menu-open) .nav__item {
		transition: opacity .15s ease,transform 0s .5s;
	}
	.nav__link {
		display: block;
		position: relative;
		transition: opacity .3s;
	}
	.nav__item:not(.nav__item--cta) .nav__link {
		padding: 1.7rem 0 2.3rem;
		line-height: 1.2;
		    font-size: 0.8em;
    color: #fff;
	}
	.menu-open .header::before {
		transform: translate3d(50%,-50%,0) scale(1);
		transition: transform .6s cubic-bezier(.215,.61,.355,1);
	}
	
	.menu-btn__icon__bar {
		position: absolute;
		right: 0;
		left: 0;
		width: 100%;
		height: .2rem;
		background: #fff;
		transform-origin: 100% 50%;
		transition: transform-origin .5s ease,transform .5s cubic-bezier(.645,.045,.355,1);
	}
	.menu-btn__icon__bar:nth-child(1) {
		top: 0;
		transform: translate3d(0,0,0) scaleX(1);
	}
	.menu-open .menu-btn__icon__bar {
		transform-origin: 50% 50%;
	}
	.menu-open .menu-btn__icon__bar:nth-child(1) {
		transform: translate3d(0,.6rem,0) scaleX(1) rotate(45deg);
	}
	.menu-btn__icon__bar:nth-child(2) {
		top: .6rem;
		transform: translate3d(0,0,0) scaleX(1);
	}
	.menu-open .menu-btn__icon__bar {
		transform-origin: 50% 50%;
	}
	.menu-open .menu-btn__icon__bar:nth-child(2) {
		transform: translate3d(0,0,0) scaleX(0);
	}
	.menu-btn__icon__bar:nth-child(3) {
		top: 1.2rem;
		transform: translate3d(0,0,0) scaleX(1);
	}
	.menu-open .menu-btn__icon__bar {
		transform-origin: 50% 50%;
	}
	.menu-open .menu-btn__icon__bar:nth-child(3) {
		transform: translate3d(0,-.6rem,0) scaleX(1) rotate(-45deg);
	}
	.menu-btn__icon__bar:nth-child(1) {
		top: 0;
		transform: translate3d(0,0,0) scaleX(1);
	}
	.menu-btn__icon__bar:nth-child(2) {
		top: .6rem;
		transform: translate3d(0,0,0) scaleX(1);
	}
	.menu-btn__icon__bar:nth-child(3) {
		top: 1.2rem;
		transform: translate3d(0,0,0) scaleX(1);
	}
	
	.menu-open .nav__item {
		opacity: 1;
		transform: translate3d(0,0,0);
		transition: all .5s cubic-bezier(.215,.61,.355,1);
		list-style:none;
	}
	.menu-open .nav__item:nth-child(1) {
		transition-delay: .45s;
	}

/***********************************************
		media queries BS 4
***********************************************/

/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { 
	.home-middle-sec p.heading {font-size: 28px;}
	.home-middle-sec h1 {font-size: 45px;}
	.home-middle-sec p.sub-heading {font-size: 18px;}
	.float-left, .float-right h2{display:none;}
	.left-menu .overlay-content {
		padding: 30% 2.5%;
	}
	.menu-btn{line-height:0em;}
}

/*  Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
	.menu-btn{line-height:0em;}
	
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
	.contact-us {padding:15px;}
	.float-right{text-align:center;}
	.float-left{padding:0px !important}
	.left-menu .overlay-content {
		padding: 30% 2.5%;
	}
	.header {
    position: fixed!important;
    font-family: "Playfair Display",Georgia,Cambria,"Times New Roman",Times,serif;
    transform: none!important;
	}
	
	
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
	
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	
}


