<div class="get-contact" style="display:none">
	<div class="inner-contact">
		<div class="for-close-btn">
			<a class="contact-close" href="#"><img src="images/contact-close-icon.png" class="img-responsive" /></a>
		</div>
		<div class="contact-us">
			<div class="col-md-12 col-sm-12 float-left">
				<h2>Lets Get In Touch</h2>
				<form>
					<input type="text" placeholder="*Name" >
					<input type="email" placeholder="*E-mail" >
					<input type="phone" placeholder="*Phone" >
					<textarea type="text" placeholder="*Message"></textarea>
					<button type="submit">Send Message</button>
				</form>
			</div>
			<div class="col-lg-4 col-md-12 col-sm-12 float-right">
				<h2>Or</h2>
				<p>Drop me a line at<br> <a href="mailto:verma.munish16@gmail.com">verma.munish16@gmail.com</a> and let’s  get things moving. New experiences and challenges are my thing.</p>
			</div>
		</div>
	</div>
</div>

