<header class="header">
	<div class="left-menu">
		<div id="myNav" class="overlay">
			<a href="javascript:void(0)" class="closebtn" onClick="closeNav()"><img src="images/icon-close.png" alt="close"></a>
			<div class="overlay-content">
				<div class="inner-sec-overlay">
				  <a href="index.html"><span>Home</span>
				   <span class="sub-link">Intro</span>
				  </a>
					<a href="project-1.html"><span>Selected</span>
						<span class="sub-link">Projects</span>
					</a>
					<a href="about.html"><span>Find Out</span>
						<span class="sub-link">About Me</span>
					</a>
					<div class="bottom-overlay">
						<ul>
							<li><a class="menu-linked" href="#"><img src="images/linked-in.png"></a></li>
								<li><p>© 2018 Munish Verma</p></li>
						</ul>
					</div>	
				</div>
			</div>
		</div>
		<span class="toggle-link" style="cursor:pointer" onClick="openNav()"><img src="images/toglle-icon.png"> <span>MENU</span></span>
	</div>

	<div class="button-sec pull-right">
		<a class="get-touch" href="#">Get In Touch</a>
	</div>
</header>