
<header id="header" class="header | header-nav | ctn | noselect | d-blcok d-sm-none">
    <div class="header__wrapper | row row--ctr">
        


        <button class="menu-btn | t-only">
            <span class="menu-btn__icon">
               <!-- <span class="menu-btn__icon__bar"></span>
                <span class="menu-btn__icon__bar"></span>
                <span class="menu-btn__icon__bar"></span>
				-->
				<i class="fa fa-bars"></i>
            </span>
        </button>


        <div class="header__scrollarea">
                <nav class="nav" role="navigation">
        <ul class="nav__list">
				<li class="nav__item">
					<a class="nav__link" href="index.html"><span>Home Intro</span></a>
					  
				</li>
				<li class="nav__item">
					
					<a class="nav__link" href="project-1.html"><span>Selected Projects</span>
						
					</a>
				</li>
				<li class="nav__item">
					<a class="nav__link" href="about.html"><span>Find Out</span>
						
					</a>
				</li>
		</ul>
    </nav>
        </div>
    </div>
</header>